#status {
    background-color: #316cf4 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}

button.list-group-item {
    color: darkgray !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

button.list-group-item:hover {
    background-color: darkgray !important;
    color: white !important;
}

.card-header {
    background-color: #316cf4 !important;
    font-family: Helvetica;
    font-size: large;
    color: white;
}

#employeeImg {
    width: 15%;
}

div.error {
    color: white;
    background-color: #ff5555;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    left: 200px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    border: dashed 2px black;
}