#status {
    background-color: #316cf4 !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
}

button.list-group-item {
    color: darkgray !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

button.list-group-item:hover {
    background-color: darkgray !important;
    color: white !important;
}

.card-header {
    background-color: #316cf4 !important;
    font-family: Helvetica;
    font-size: large;
    color: white;
}